.home,
.hero,
.intro,
.intro,
.author-section,
.what {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.hero {
  width: 100%;
  height: 1000px;
  background-image: linear-gradient(
      to top,
      rgba(18, 21, 28, 0.5),
      rgba(18, 21, 28, 1)
    ),
    url("../assets//ryu-shoryuken.jpg");
  background-position: center;
  background-size: cover;
}

.intro,
.what,
.author-section {
  padding-top: 50px;
}

.intro {
  background-color: #1b222c;
}

.author-section {
  background-color: #1b222c;
  padding-bottom: 40px;
}
