.home,
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  width: 100%;
  height: 1000px;
  background-image: linear-gradient(
      to top,
      rgba(18, 21, 28, 0.5),
      rgba(18, 21, 28, 1)
    ),
    url("../assets//ryu-shoryuken.jpg");
  background-position: center;
  background-size: cover;
}
