.lessons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
/* Takes away the back button from the base lessons class */
.lessons + .link-button {
  display: none;
}

.lessons-content,
.introduction,
.beginner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0, auto;
  width: 100%;
  gap: 30px;
}

.lesson-container {
  max-width: 800px;
  width: 90%;
  background-color: #1b222c;
  border-radius: 5px;
  border: 1px solid rgb(66, 66, 66);
}

.lesson-container h3 {
  width: 100%;
  border-bottom: 1px solid rgb(66, 66, 66);
  color: #b31618;
  padding: 20px;
}

.lesson-container a {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  cursor: pointer;
}

.lesson-container a:hover {
  color: rgb(219, 234, 248);
  background-color: rgb(49, 50, 67);
}

.lessons-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lessons-page p {
  max-width: 900px;
  width: 90%;
}
