.lessons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.lessons-content,
.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0, auto;
  max-width: 90%;
  min-width: 50%;
  gap: 30px;
}

.lesson-container {
  width: 600px;
  max-width: 600px;
  background-color: #1b222c;
  border-radius: 5px;
  border: 1px solid rgb(66, 66, 66);
}

.lesson-container h3 {
  width: 100%;
  border-bottom: 1px solid rgb(66, 66, 66);
  color: #b31618;
  padding: 20px;
}

.lesson-container p {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  cursor: pointer;
}

.lesson-container p:hover {
  background-color: rgb(52, 51, 60);
}
