* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #12151c;
  color: rgb(219, 234, 248);
  font-family: Inter, Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: rgb(219, 234, 248);
}

a:hover {
  color: #b31618;
}

.white {
  color: rgb(219, 234, 248);
}

h1 {
  font-size: 3.4rem;
  text-align: center;
  max-width: 800px;
  font-weight: 500;
  margin-bottom: 30px;
  color: #b31618;
}

h2 {
  font-size: 2.7rem;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 30px;
  color: #b31618;
}

p {
  font-size: 1.2rem;
  max-width: 900px;
  line-height: 1.7;
  margin-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  text-wrap: wrap;
  white-space: normal; /* Ensure text wraps */
  word-wrap: break-word; /* Ensure long words break and wrap */
  word-break: break-word;
}

.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #12151c;
  color: rgb(219, 234, 248);
  width: 150px;
  height: 40px;
  border: 1px solid rgb(219, 234, 248);
  border-radius: 4px;
}

.link-button:hover {
  background-color: rgb(219, 234, 248);
  color: #12151c;
  transition: 500ms;
}

blockquote {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  color: #b31618;
  margin-bottom: 20px;
  text-align: center;
}

.author {
  font-size: 1.2rem;
  margin-top: 20px;
  font-style: italic;
  color: rgb(219, 234, 248);
}
